h1
{
    text-align: center;
	color: white;
	
}
p
{
    text-align: center;
    color: white;
}

body
{
	background-color: #36393F;

}
img
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}
.Spe{
	color: white;
	text-align: center;
}
.b{
	text-decoration: none;
	color: red;
	font-family: vintage;
	
}